.footer {
    margin-top: 50px;
    text-align: center;

    @include tablet {
        margin-top: 40px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: clamp(140px, 30vw, 270px);
    }

    &__text {
        @include fluid-text(16, 18);
        
        color: var(--color-alt-red);
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: var(--font-second);

        @include tablet {
            margin-top: 20px;
            margin-bottom: 40px;
        }

        @include mobile-large {
            margin-top: 16px;
            margin-bottom: 30px;
        }
    }
}